---
import ExampleItem from "../components/exampleItem.astro";
import NavBar from "../components/nav-bar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SatixXGG Home">
  <NavBar />
  <main class="flex flex-col items-center py-40 mt-5">
    <div class="grid md:grid-cols-3 grid-cols-1 w-full h-full px-9 md:px-16">
      <ExampleItem
        title="Dynamic Arms optimized"
        desc="Dynamic moving arms and head Using IK and Motor6D"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/arms-video.ca8415911ebfb6ff2524.mp4"
      />
      <ExampleItem
        title="Rounded menu style"
        desc="Rounded menu with 4 options that can open by clicking it"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/round-menu.3202a3da2faaa7a0ad06.mp4"
      />
      <ExampleItem
        title="Interaction system"
        desc="Advanced customizable interaction system with cooldown"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/int-system.b8901d8ad465712225e9.mp4"
      />

      <ExampleItem
        title="GTA Style menu"
        desc="Advanced customizable GTA menu with options to change everything"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/gta-menu.fb07a4bcabe0abd7176b.mp4"
      />
      <ExampleItem
        title="Dynamic stamina bar"
        desc="Advanced and dynamic stamina bar like Genshin Impact game"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/stamina-bar.7bc10d61f7b89c2cb355.mp4"
      />
      <ExampleItem
        title="UI opening animation"
        desc="Opening animation for almost every item, clean and cool"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/dynamic-ui.836888bece626e9abcca.mp4"
      />

      <ExampleItem
        title="PVP&PVE game"
        desc="(ONLY SCRIPTING) Advanced melee system, inventory, shop, and squad system"
        vid="https://satixxgg.github.io/SatixXGG-portfolio-react/static/media/pvp-system.bdfcbf3b640cda41f3a2.mp4"
      />

      <ExampleItem
        title="Advanced Melee & abilities"
        desc="(ONLY SCRIPTING) Advanced melee system with 3 abilities"
        vid="https://cdn.discordapp.com/attachments/1115810312906616902/1169817210588500079/2023-11-02_19-55-22.mp4?ex=6556c82d&is=6544532d&hm=10f79d9aa8205685a7387fd2ad581f6283cc750bce0e61eb2be0f500f52d8b49&"
      />

      <ExampleItem
        title="House saving customization"
        desc="Color house customization similar to meep city"
        vid="https://cdn.discordapp.com/attachments/1115810312906616902/1119112358418194502/2023-06-15_21-51-51.mp4?ex=6556e39a&is=65446e9a&hm=626d360a7b88872bc57f35952702a380050b2288f6ba01cd14236e41514d04b2&"
      />

      <ExampleItem
        title="Pet system"
        desc="Basic pet & hatching system"
        vid="https://cdn.discordapp.com/attachments/1115810312906616902/1117547103581896705/2023-06-11_14-11-55.mp4?ex=655131d8&is=653ebcd8&hm=169b440b7c4f058ab9d18019de791b9e06352a89fae1fb1734dbafeffbb143a5&"
      />

      <ExampleItem
        title="Mining system"
        desc="Advanced mining system"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1078822973001187468/2023-02-24_17-36-32.mp4?ex=6557f930&is=65458430&hm=75435ef4ce090d7527942f7363090cb8d61482dea000f6d9e58c2992896a55eb&"
      />

      <ExampleItem
        title="60 Seconds!"
        desc="60 seconds was a obby style game that has random parkour stages and a shop"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170465915142410413/2023-11-04_14-52-13.mp4?ex=65592454&is=6546af54&hm=aac0e05f433ec6397b934a462f45e462abc9d3241f09457b2fa2fcc5c4773754&"
      />

      <ExampleItem
        title="Elevator system"
        desc="Elevator system that works with items "
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170466622641811526/2023-11-04_14-55-48.mp4?ex=655924fd&is=6546affd&hm=1d534f2b6d432deb09f5240e588cbeeab91906703f83785542b1c46bb14c8b02&"
      />

      <ExampleItem
        title="Competitive game"
        desc="Basic guns system with multiple saving skins!"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170467552246386779/2023-11-04_14-58-43.mp4?ex=655925da&is=6546b0da&hm=a342fe50bd6785ab6e1cfc6f9043e28b9747c41f6f1b81f989ce9f5cf203b01b&"
      />

      <ExampleItem
        title="Soda system"
        desc="Soda system that places skins to the player"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170468107433820270/2023-11-04_15-01-48.mp4?ex=6559265f&is=6546b15f&hm=2aa7575cbf01afdadd369bae5c68e4e01b5684918c499226a31b6bbf825f51c5&"
      />

      <ExampleItem
        title="Gun system"
        desc="Gun system with bullet drop and sounds"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170469505835749577/2023-11-04_15-07-23.mp4?ex=655927ac&is=6546b2ac&hm=c427de820d98aecf430fbfd085cca21d1e163984dd8fb32f3f3be20c35e4823b&"
      />

      <ExampleItem
        title="Weather system"
        desc="Optimized weather system client"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170470079436181564/2023-11-04_15-09-26.mp4?ex=65592835&is=6546b335&hm=30c5af91d5ac5a06d32671c171cd38d8d33467b69ee40bcb93f6c218db7059b9&"
      />

      <ExampleItem
        title="Cartoon weapon system"
        desc="Weapon system with features like glass breaking"
        vid="https://cdn.discordapp.com/attachments/826501659391688715/1170470807605084320/2023-11-04_15-12-03.mp4?ex=655928e2&is=6546b3e2&hm=359ed103ac02ffcc3b2712e86f605a5f79c78400f8b42930ac918f5f52c3352f&"
      />
    </div>
  </main>

  <script>
    // Import npm modules.

    // some comment

    var videos = document.querySelectorAll("#videoPlayer");
    videos.forEach((currentVideo) => {
      function waitForElm(selector) {
        return new Promise((resolve) => {
          if (currentVideo.querySelector(selector)) {
            return resolve(currentVideo.querySelector(selector));
          }

          const observer = new MutationObserver((mutations) => {
            if (currentVideo.querySelector(selector)) {
              observer.disconnect();
              resolve(currentVideo.querySelector(selector));
            }
          });

          observer.observe(document.body, {
            childList: true,
            subtree: true,
          });
        });
      }

      const playButton = currentVideo.querySelector("#buttonPlay");
      const buttonPause = currentVideo.querySelector("#buttonPause");
      const coreVideo = currentVideo.querySelector("#coreVid");
      coreVideo.volume = 0;
      buttonPause.style.visibility = "hidden";

      playButton.addEventListener("click", function (e) {
        coreVideo.play();

        playButton.style.visibility = "hidden";
        buttonPause.style.visibility = "visible";

        if (coreVideo.readyState >= 4) {
          waitForElm("#loader").then((loader) => {
            loader.style.visibility = "hidden";
          });
        }
      });

      buttonPause.addEventListener("click", function (e) {
        coreVideo.pause();
        playButton.style.visibility = "visible";
        buttonPause.style.visibility = "hidden";

        if (coreVideo.readyState >= 4) {
          waitForElm("#loader").then((loader) => {
            loader.style.visibility = "hidden";
          });
        }
      });

      var check = setInterval(() => {
        if (coreVideo.readyState >= 4) {
          waitForElm("#loader").then((loader) => {
            loader.style.visibility = "hidden";
          });
          clearInterval(check);
        }
      }, 500);
    });
  </script>
</Layout>

<style is:global>
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    background-color: rgb(33, 33, 33);
  }
</style>
